.cases {
	&__title {
		position: relative;
		margin: 0 auto;
		margin-bottom: 50px;
		width: fit-content;

		&::before,
		&::after {
			content: url('@img/cases/arrow-down.png');
			position: absolute;
			top: 10px;
			max-height: 100px;

			@media (max-width: 1250px) {
				transform: scale(0.8);
			}

			@media (max-width: 992px) {
				transform: scale(0.4);
			}

			@media (max-width: 768px) {
				display: none;
			}
		}

		&::before {
			right: -150px;

			@media (max-width: 1250px) {
				right: -150px;
			}

			@media (max-width: 992px) {
				right: -80px;
			}
		}

		&::after {
			left: -150px;

			@media (max-width: 1250px) {
				left: -150px;
			}

			@media (max-width: 992px) {
				left: -80px;
			}
		}

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 100px;
		gap: 40px;

		@media (max-width: 992px) {
			justify-content: space-around;
		}

		@media (max-width: 576px) {
			flex-direction: column;
			gap: 10px;
			align-items: center;
			margin-bottom: 30px;
		}
	}

	&-card {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		max-width: 200px;

		img {
			max-height: 60px;

			@media (max-width: 992px) {
				max-height: 30px;
			}
		}

		&__num {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			min-width: 200px;
			min-height: 142px;
			font-size: 36px;
			text-align: center;
			background-image: url('@img/cases/bg-pink.png');
			background-size: cover;
			background-repeat: no-repeat;

			@media (max-width: 992px) {
				min-width: 130px;
				min-height: 91px;
				font-size: 26px;
			}

			@media (max-width: 768px) {
				min-width: 100px;
				min-height: 71px;
				font-size: 18px;
			}
		}

		&__text {
			font-size: 20px;
			line-height: 180%;
			text-align: center;

			@media (max-width: 992px) {
				font-size: 14px;
			}
		}

		@media (max-width: 992px) {
			max-width: 150px;
		}
	}

	&__blocks {
		display: flex;
		justify-content: center;
	}

	&__block {
		position: relative;
		margin-bottom: 200px;
		border: 16px solid var(--second-color);
		border-right-width: 16px * 2;
		border-left-width: 16px * 2;
		padding: 15px 0;
		max-width: 1220px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			width: 16px;
			height: 95%;
			background-color: var(--dark-color);
			transform: translateY(-50%);

			@media (max-width: 768px) {
				width: 8px;
				height: 99%;
			}
		}

		&::before {
			right: -16px;

			@media (max-width: 768px) {
				right: -8px;
			}
		}

		&::after {
			left: -16px;

			@media (max-width: 768px) {
				left: -8px;
			}
		}

		@media (max-width: 768px) {
			border-width: 8px;
			border-right-width: 8px * 2;
			border-left-width: 8px * 2;
		}
	}

	&__top {
		display: flex;
		gap: 30px;
		margin-bottom: 30px;
		padding-right: 15px;

		img {
			min-width: 264px;
			user-select: none;

			@media (max-width: 992px) {
				min-width: 0;
				max-width: 200px;
			}

			@media (max-width: 768px) {
				max-width: 120px;
				gap: 10px;
			}
		}

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			padding: 0;
			gap: 15px;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		padding: 0 30px;

		@media (max-width: 768px) {
			padding: 0;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 15px;

		&__subtitle {
			margin: 0;
			font-size: 20px;
			line-height: 180%;

			@media (max-width: 768px) {
				font-size: 18px;
			}
		}

		&__market {
			margin: 0;
			font-size: 16px;
			line-height: 180%;

			&--color-green {
				color: var(--second-color);
			}

			@media (max-width: 768px) {
				font-size: 14px;
			}
		}

		&__text {
			margin: 0;
			font-size: 14px;
			line-height: 180%;
			filter: brightness(60%);

			@media (max-width: 768px) {
				font-size: 12px;
			}
		}

		@media (max-width: 768px) {
			gap: 10px;
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 180%;

		@media (max-width: 768px) {
			font-size: 16px;
			text-align: center;
		}
	}
}

.what {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	gap: 30px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		@media (max-width: 992px) {
			justify-content: center;
			gap: 20px;
		}

		@media (max-width: 768px) {
			gap: 10px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: fit-content;
		min-width: 250px;
		min-height: 56px;
		font-size: 14px;
		background-image: url('@img/cases/border-yellow.png');
		background-size: cover;
		background-repeat: no-repeat;

		&--bg-blue {
			background-image: url('@img/cases/border-blue.png');
		}

		&--bg-pink {
			background-image: url('@img/cases/border-pink.png');
		}
	}

	&__more {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-width: 135px;
		min-height: 95px;
		font-size: 24px;
		line-height: 180%;
		text-align: center;
		color: var(--dark-color);
		background-image: url('@img/cases/link.png');
		background-size: cover;
		background-repeat: no-repeat;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: -1;
			width: 85%;
			height: 80%;
			background-color: var(--second-color);
			transform: translate(-50%, -50%);
			transition: filter 0.1s;
		}

		&:hover {
			&::after {
				filter: brightness(0.75);
			}
		}

		@media (max-width: 768px) {
			min-width: 80px;
			min-height: 57px;
			font-size: 18px;
		}
	}

	&__sig {
		font-size: 14px;
		line-height: 180%;
		text-align: center;
	}

	@media (max-width: 992px) {
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-bottom: 30px;
	}
}

.corner {
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: var(--dark-color);

	&--top-left {
		left: -32px;
		top: -17px;
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
		@media (max-width: 768px) {
			left: -16px;
			top: -10px;
		}
	}

	&--top-right {
		right: -32px;
		top: -17px;
		clip-path: polygon(50% 50%, 50% 100%, 100% 100%, 100% 0, 0 0, 0 50%);
		@media (max-width: 768px) {
			right: -16px;
			top: -10px;
		}
	}

	&--bottom-right {
		right: -32px;
		bottom: -17px;
		clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 0, 50% 0, 50% 50%);
		@media (max-width: 768px) {
			right: -16px;
			bottom: -10px;
		}
	}

	&--bottom-left {
		left: -32px;
		bottom: -17px;
		clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%);
		@media (max-width: 768px) {
			left: -16px;
			bottom: -10px;
		}
	}

	@media (max-width: 768px) {
		width: 16px;
		height: 16px;
	}
}

.arrow {
	content: url('@img/cases/arrow-animation.png');
	position: absolute;
	left: -70px;
	top: -55px;
	z-index: 10;
	width: 80px;
	height: 62px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 0.2s linear, visibility 0.2s linear;
	animation: arrow 2s ease-in-out infinite;
	rotate: 70deg;
}

@keyframes arrow {
	0% {
		content: url('@img/cases/arrow-animation.png');
		background-repeat: no-repeat;
		transform: translate(0, 0);
	}

	50% {
		content: url('@img/cases/arrow-animation-2.png');
		background-repeat: no-repeat;
		transform: translate(40px, -30px);
	}

	100% {
		content: url('@img/cases/arrow-animation.png');
		background-repeat: no-repeat;
		transform: translate(0, 0);
	}
}

.scale {
	position: relative;
	display: flex;
	align-items: center;
	padding: 15px 150px;
	width: 100%;
	height: 70px;
	background-image: url('@img/cases/scale.png');

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 23%;
		height: 70px;
		background-color: var(--accent-color);

		@media (max-width: 992px) {
			height: 60px;
		}

		@media (max-width: 768px) {
			height: 35px;
		}
	}

	&__text {
		z-index: 1;
		margin: 0;
		font-size: 24px;

		@media (max-width: 992px) {
			font-size: 14px;
		}

		@media (max-width: 768px) {
			font-size: 11px;
		}
	}

	@media (max-width: 992px) {
		padding: 15px;
		height: 60px;
	}

	@media (max-width: 768px) {
		height: 35px;
	}
}
