body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	font-family: Press, sans-serif;
}

.btn-reset {
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__input {
		border: none;
		border-radius: 8px;
		padding: 15px 10px;
		font-family: inherit;
		font-size: 16px;
		color: var(--light-color);
		caret-color: var(--light-color);
		background-color: #333;

		&:focus {
			outline: 2px solid var(--second-color);
		}

		@media (max-width: 480px) {
			font-size: 13px;
		}
	}

	&__btn {
		display: inline-block;
		border: 2px solid var(--accent-color);
		border-radius: 8px;
		padding: 15px 10px;
		width: 100%;
		font-family: inherit;
		font-size: 16px;
		text-transform: uppercase;
		color: #ed70d3;
		transition: 0.2s background-color;

		&:focus {
			outline: 2px solid var(--second-color);
			border-color: transparent;
			color: var(--second-color);
		}

		&:hover {
			background-color: #ed70d32e;
		}

		@media (max-width: 480px) {
			font-size: 13px;
		}
	}

	@media (max-width: 480px) {
		gap: 15px;
	}
}
