.game {
	&__wrap {
		display: flex;
		margin: 0 auto;
		margin-bottom: 60px;
		width: fit-content;
		gap: 30px;

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 768px) {
			margin-bottom: 20px;
			gap: 20px;
		}
	}

	&__texts {
		max-width: 775px;
	}

	&__title {
		text-align: left;
		color: var(--light-color);
	}

	&__text {
		margin: 0;
		line-height: 180%;
	}

	&__arrow {
		width: 185px;
		height: 185px;
		transform: rotate(-90deg);

		@media (max-width: 992px) {
			width: 140px;
			height: 140px;
		}

		@media (max-width: 768px) {
			width: 80px;
			height: 80px;
		}
	}

	&__inner {
		position: relative;
		margin: 0 auto;
		width: fit-content;

		&::after,
		&::before {
			content: url('@img/game/lightning.gif');
			position: absolute;
			top: 50%;
			width: 65px;
			height: 90px;
			transform: translateY(-50%);

			@media (max-width: 768px) {
				display: none;
			}
		}

		&::before {
			left: -120px;
		}

		&::after {
			right: -120px;
		}
	}

	&__link {
		margin: 0 auto;
		padding: 0 85px;
		line-height: 180%;
		text-align: center;

		@media (max-width: 768px) {
			padding: 0 25px;
			min-height: 115px;
			max-width: 300px;
			font-size: 12px;
		}
	}
}

.game-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 40px;
	width: 100%;
	min-height: 720px;
	max-width: 1140px;
	background-image: url('@img/game/game-border.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	&__content {
		clip-path: polygon(
			0% 5%,
			3% 5%,
			3% 0%,
			97% 0%,
			97% 5%,
			100% 5%,
			100% 96%,
			97% 96%,
			97% 100%,
			3% 100%,
			3% 96%,
			0% 96%
		);
		border: none;
		width: 1075px;
		height: 660px;

		@media (max-width: 1200px) {
			width: 905px;
			height: 555px;
		}

		@media (max-width: 992px) {
			width: 695px;
			height: 425px;
		}

		@media (max-width: 768px) {
			width: 515px;
			height: 315px;
		}

		@media (max-width: 576px) {
			width: 425px;
			height: 260px;
		}

		@media (max-width: 480px) {
			width: 340px;
			height: 210px;
		}
	}

	&__button {
		width: 100%;
		min-height: 85px;
		max-width: 200px;
		background-image: url('@img/game/game-btn.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: 0.2s filter;

		&:hover {
			filter: brightness(0.75);
		}

		@media (max-width: 992px) {
			min-height: 60px;
			max-width: 140px;
		}

		@media (max-width: 768px) {
			min-height: 43px;
			max-width: 100px;
		}
	}

	@media (max-width: 1200px) {
		min-height: 605px;
		max-width: 960px;
	}

	@media (max-width: 992px) {
		min-height: 465px;
		max-width: 735px;
	}

	@media (max-width: 768px) {
		min-height: 345px;
		max-width: 545px;
	}

	@media (max-width: 576px) {
		min-height: 285px;
		max-width: 450px;
	}

	@media (max-width: 480px) {
		min-height: 230px;
		max-width: 360px;
	}
}
