.header {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 50px;
	width: 100%;
	transition: 0.2s all;

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 15px;
		max-width: $container-width + px;

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			gap: 15px;
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__menu {
		margin-right: 20px;
	}

	&.fixed {
		position: fixed;
		z-index: 5;
		border-bottom: 1px solid var(--accent-color);
		padding: 25px 0;
		background-color: #000;
	}

	@media (max-width: 768px) {
		padding-top: 20px;
	}
}

.icons {
	display: flex;
	align-items: center;
	gap: 20px;

	&__item {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		gap: 5px;
	}

	&__num {
		font-size: 14px;
	}

	@media (max-width: 768px) {
		gap: 10px;
	}
}

.hearts {
	@media (max-width: 768px) {
		max-width: 100px;
	}
}

.battery {
	max-width: 100px;

	@media (max-width: 768px) {
		max-width: 50px;
	}
}
