.hero {
	padding-top: 50px;
	color: var(--accent-color);

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			gap: 15px;
			margin-bottom: 15px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: center;
	}

	&__img {
		max-width: 390px;

		@media (max-width: 992px) {
			max-width: 300px;
		}
		@media (max-width: 540px) {
			max-width: 170px;
		}
	}

	&__subtitle {
		@include adaptive-font(24, 16);
		margin: 0;
		line-height: 180%;
		text-align: center;
	}

	&__title {
		@include adaptive-font(96, 54);
		position: relative;
		margin: 0;
		max-width: 550px;
		line-height: 180%;
		text-align: center;
		text-shadow: 5px 5px var(--second-color);

		&::before,
		&::after {
			content: url('@img/hero/money.gif');
			position: absolute;
			top: 0;
			max-height: 100px;

			@media (max-width: 1250px) {
				transform: scale(0.8);
			}

			@media (max-width: 992px) {
				transform: scale(0.4);
			}

			@media (max-width: 768px) {
				display: none;
			}
		}

		&::before {
			right: -300px;

			@media (max-width: 1250px) {
				right: -150px;
			}

			@media (max-width: 992px) {
				right: -80px;
			}
		}

		&::after {
			left: -300px;

			@media (max-width: 1250px) {
				left: -150px;
			}

			@media (max-width: 992px) {
				left: -80px;
			}
		}
	}

	@media (max-width: 1170px) {
		padding-top: 130px;
	}
}
