.write {
	&__title {
		margin-bottom: 50px;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 80px;

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}

		@media (max-width: 1150px) {
			justify-content: space-around;
		}
	}

	&__img {
		max-width: 500px;

		@media (max-width: 1150px) {
			max-width: 340px;
		}

		@media (max-width: 992px) {
			max-width: 240px;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 540px;
		gap: 20px;

		&__item {
			border: 5px solid var(--accent-color);
			border-radius: 100px;
			width: 100%;
			text-align: center;
		}

		&__link {
			@include adaptive-font(24, 14);
			display: inline-block;
			border-radius: 100px;
			padding: 25px;
			width: 100%;
			line-height: 180%;
			text-transform: uppercase;
			color: var(--accent-color);
			transition: 0.2s background-color;

			&:hover {
				background-color: #ed70d32e;
			}

			@media (min-width: 1270px) {
				font-size: 24px;
			}

			@media (max-width: 1150px) {
				padding: 15px;
			}
		}
	}

	&__arrow {
		margin: 0 auto;
		max-width: 156px;

		@media (max-width: 1150px) {
			max-width: 120px;
		}

		@media (max-width: 768px) {
			max-width: 60px;
		}
	}
}
